Diagrama no Node Red.json
[
    {
        "id": "b26e105cae95e400",
        "type": "tab",
        "label": "Semáforo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "462e2535e2e7b17a",
        "type": "mqtt in",
        "z": "b26e105cae95e400",
        "name": "",
        "topic": "semaforo/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d8768472d936e4cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "5ae392a320abf700",
                "cda2d1df034a02ed",
                "08ed0ac3ad94c99d",
                "3383cf2004e6e2d1"
            ]
        ]
    },
    {
        "id": "5ae392a320abf700",
        "type": "debug",
        "z": "b26e105cae95e400",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "cda2d1df034a02ed",
        "type": "ui_gauge",
        "z": "b26e105cae95e400",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "08ed0ac3ad94c99d",
        "type": "ui_text",
        "z": "b26e105cae95e400",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000",
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "3383cf2004e6e2d1",
        "type": "ui_chart",
        "z": "b26e105cae95e400",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d8768472d936e4cf",
        "type": "mqtt-broker",
        "name": "Semáforo",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6b58e1cfda8797c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]